
div h1 {
font-style: oblique;
  color: #010101;
  
}

div h1 span {
  color:  #fa5b0f
  
}
input#address.text {
  margin: 0.5rem 0;
}
input#name.text {
  margin: 0.5rem 0;
}
input#phone.phone {
  margin: 0.1rem 0;
}