
div h1 {
font-style: oblique;
  color: #010101;
  
}

div h1 span {
  color:  #fa5b0f
  
}

.error {
  color: red;
  font-size: 12px;
}

.input-error {
  border: 1px solid red;
  
}

textarea#address.form-control {
margin: 0.5rem 0 1%;
}

input#name.form-control {
  margin: 0.5rem 0 1%;
} img.me-3.mb-3 {
    height:90vh;
    width: auto;
    justify-content: center;
    display: flex;
    position: relative;
    right: 2.8rem;
}